<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1

## Learning objectives

This lab demonstrates examples of:

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

This is an example cell for text

In [3]:
# create a list of 10 students (use just first name)
students = ['alice','ben','cathy','dawn','emily','fern','emma','sean','felix','hugh']

In [4]:
# print the list
print(students)

['alice', 'ben', 'cathy', 'dawn', 'emily', 'fern', 'emma', 'sean', 'felix', 'hugh']

In [11]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for index, name in enumerate(students, start=1):
    print(f"Index {index:02d}\t {name.capitalize()}")

Index 01	 Alice
Index 02	 Ben
Index 03	 Cathy
Index 04	 Dawn
Index 05	 Emily
Index 06	 Fern
Index 07	 Emma
Index 08	 Sean
Index 09	 Felix
Index 10	 Hugh

In [14]:
# print the list of students in reverse order one student in a line with its index
# google search how to print list in reverse order
for index, name in reversed(list(enumerate(students, start=1))):
    print(f"Index {index:02d} \t {name.capitalize()}")

Index 10 	 Hugh
Index 09 	 Felix
Index 08 	 Sean
Index 07 	 Emma
Index 06 	 Fern
Index 05 	 Emily
Index 04 	 Dawn
Index 03 	 Cathy
Index 02 	 Ben
Index 01 	 Alice

In [18]:
# print the student list in random order
# hint look up the function random.sample
import random
random_order = random.sample(students, len(students))
print(random_order)

['fern', 'sean', 'emily', 'hugh', 'emma', 'felix', 'ben', 'dawn', 'cathy', 'alice']

In [19]:
# list students in decreasing order of their exam marks given their marks below
# hint: look up the 'sorted' function
marks = [87,45,76,64,66,90,55,73,69,75]
studentsAndMarks = dict(zip(students,marks))
print(f"Students and their marks: \n {studentsAndMarks}")

Students and their marks:
 {'alice': 87, 'ben': 45, 'cathy': 76, 'dawn': 64, 'emily': 66, 'fern': 90, 'emma': 55, 'sean': 73, 'felix': 69, 'hugh': 75}

In [27]:
#desired output:
sorted(studentsAndMarks, key=studentsAndMarks.get, reverse=True)

['fern',
 'alice',
 'cathy',
 'hugh',
 'sean',
 'felix',
 'emily',
 'dawn',
 'emma',
 'ben']

In [28]:
for student in sorted(studentsAndMarks, key=studentsAndMarks.get, reverse=True):
    print(f"{student.capitalize():10s}: {studentsAndMarks[student]}")

Fern      : 90
Alice     : 87
Cathy     : 76
Hugh      : 75
Sean      : 73
Felix     : 69
Emily     : 66
Dawn      : 64
Emma      : 55
Ben       : 45



---



---



> > > > > > > > > Â© 2023 Institute of Data


---



---