<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4
# *Python with MongoDB*

## Introduction to PyMongo

For this lab you will firstly need to install two programs:

1) MongoDB Community Server from https://www.mongodb.com/try/download/community

2) MongoDB Command Line Database Tools from https://www.mongodb.com/try/download/database-tools

In both cases, download then run the `msi` package if using Windows.

In [1]:
from IPython.display import display, HTML
import pymongo
import pandas as pd
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.5.0

Start the mongod server (if it isn't already running) by executing  
`mongod`  
at the command prompt (or terminal window). If your path environment variables are not set up, this can be achieved by navigating within the command prompt to the bin folder of MongoDB Server first.

In [2]:
# Connect to a MongoDB server on your local machine (localhost) on the default port 27017
client = MongoClient('localhost', 27017)

In [3]:
# What would the below code do?
db = client.test
collection = db.people
collection.drop()

Answer: Drops collection "people" from the database "test".

In [4]:
# What would the below code do?
client.drop_database("test")

Answer: Drops database "test".

SN_Note: client.drop_database("test") IS NOT THE SAME AS client.test.drop(). See below for the differences. Had to make this note as the original lab content suggested the later code as the way to drop the database.
1. `client.drop_database("test")`: This code will drop (delete) the entire "test" database from your MongoDB server. It directly references the database by name and deletes all collections and data within that database.

2. `client.test.drop()`: This code assumes that "test" is a collection within the currently selected database (the database you are currently working with). It will drop (delete) the "test" collection, not the entire database. This is equivalent to dropping a single collection, not the entire database.

So, if you want to delete a specific collection within a database, you can use the second code (`client.test.drop()`), but if you want to delete the entire database, you should use the first code (`client.drop_database("test")`). Make sure to choose the appropriate operation based on your specific needs.

In [5]:
# Connect to MongoDB database for lab work
client = pymongo.MongoClient("mongodb+srv://root:password12345678@cluster0.phuvzfd.mongodb.net/?retryWrites=true&w=majority")

Drop database "mydatabase" from MongoDB: The following code below will drop the mydatabase database from the MongoDB server, however in this case, an error will be produced: 

-> OperationFailure: user is not allowed to do action [dropDatabase] on [mydatabase.], full error: {'ok': 0, 'errmsg': 'user is not allowed to do action [dropDatabase] on [mydatabase.]', 'code': 8000, 'codeName': 'AtlasError'}

In [ ]:
# Do not run code - Produces error
client.drop_database("mydatabase")

Create a new database: A new database is created by simply referencing it. You don't need to explicitly create a database in MongoDB; it will be created when you first insert data into it.

In [6]:
# ANSWER:
mydb = client["mydatabase_newer"]

Confirm that the database exists ...

- list all databases in your system:

In [7]:
# ANSWER:
print(client.list_database_names())

['Employee', 'IOD', 'adatabase', 'mydatabase', 'mydatabase_new', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'superstars', 'test', 'admin', 'local']

- check for the database by name:

In [8]:
# ANSWER:
dblist = client.list_database_names()
if "mydatabase_newer" in dblist:
    print("The database exists.")
else:
    print("The database does not exist.")

The database does not exist.

In MongoDB a new database will not get created until data has been inserted into it!

Create a collection called "customers" (with object name `mycol`):

In [9]:
# ANSWER:
mycol = mydb["customers"]

Create a document (i.e. a dictionary) with two name:value items
("name" = "John", and "address" = "Highway 37") and insert
it into the "customers" collection:

In [10]:
# ANSWER:
mydict = {"name": "John", "address": "Highway 37"}
mycol.insert_one(mydict);

Now test for the existence of the database:

In [11]:
print(client.list_database_names())

['Employee', 'IOD', 'adatabase', 'mydatabase', 'mydatabase_new', 'mydatabase_newer', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'superstars', 'test', 'admin', 'local']

List all collections in the database:

In [12]:
# ANSWER:
mydb.list_collection_names()

['customers']

Insert another record in the "customers" collection
("name" = "Peter", "address" = "Lowstreet 27")
and return the value of the _id field:

In [13]:
# ANSWER
mydict = {"name": "Peter", "address": "Lowstreet 27"}
x = mycol.insert_one(mydict)
print(x.inserted_id)

65114b872eb05666697764d6

Given the list of dicts below, insert multiple documents into
the collection using the insert_many() method:

In [14]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [15]:
# ANSWER:
x = mycol.insert_many(mylist);

Print a list of the _id values of the inserted documents:

In [16]:
# ANSWER:
print(x.inserted_ids)

[ObjectId('65114b9f2eb05666697764d7'), ObjectId('65114b9f2eb05666697764d8'), ObjectId('65114b9f2eb05666697764d9'), ObjectId('65114b9f2eb05666697764da'), ObjectId('65114b9f2eb05666697764db'), ObjectId('65114b9f2eb05666697764dc'), ObjectId('65114b9f2eb05666697764dd'), ObjectId('65114b9f2eb05666697764de'), ObjectId('65114b9f2eb05666697764df'), ObjectId('65114b9f2eb05666697764e0'), ObjectId('65114b9f2eb05666697764e1'), ObjectId('65114b9f2eb05666697764e2')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [17]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

Now try inserting a new dict with an existing `_id`: The line of code below will produce a duplicate key error as { _id: 14 } already exists

In [ ]:
# Do not run code - Produces error
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [19]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('65114b652eb05666697764d5'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [20]:
# ANSWER:
x = mycol.find_one({"name": "Hannah"})
print(x)

{'_id': ObjectId('65114b9f2eb05666697764d8'), 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [21]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('65114b652eb05666697764d5'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65114b872eb05666697764d6'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65114b9f2eb05666697764d7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65114b9f2eb05666697764d8'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65114b9f2eb05666697764d9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65114b9f2eb05666697764da'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65114b9f2eb05666697764db'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65114b9f2eb05666697764dc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65114b9f2eb05666697764dd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65114b9f2eb05666697764de'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65114b9f2eb05666697764df'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65114b9f2eb05666697764e0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65114b9f2eb05666697764e1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65114b9f2eb05666697764e2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [22]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [23]:
# ANSWER:
for x in mycol.find({}, {"_id": 1, "name": 1}):
    print(x)

{'_id': ObjectId('65114b652eb05666697764d5'), 'name': 'John'}
{'_id': ObjectId('65114b872eb05666697764d6'), 'name': 'Peter'}
{'_id': ObjectId('65114b9f2eb05666697764d7'), 'name': 'Amy'}
{'_id': ObjectId('65114b9f2eb05666697764d8'), 'name': 'Hannah'}
{'_id': ObjectId('65114b9f2eb05666697764d9'), 'name': 'Michael'}
{'_id': ObjectId('65114b9f2eb05666697764da'), 'name': 'Sandy'}
{'_id': ObjectId('65114b9f2eb05666697764db'), 'name': 'Betty'}
{'_id': ObjectId('65114b9f2eb05666697764dc'), 'name': 'Richard'}
{'_id': ObjectId('65114b9f2eb05666697764dd'), 'name': 'Susan'}
{'_id': ObjectId('65114b9f2eb05666697764de'), 'name': 'Vicky'}
{'_id': ObjectId('65114b9f2eb05666697764df'), 'name': 'Ben'}
{'_id': ObjectId('65114b9f2eb05666697764e0'), 'name': 'William'}
{'_id': ObjectId('65114b9f2eb05666697764e1'), 'name': 'Chuck'}
{'_id': ObjectId('65114b9f2eb05666697764e2'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [24]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('65114b9f2eb05666697764d9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65114b9f2eb05666697764dc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65114b9f2eb05666697764de'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65114b9f2eb05666697764e2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

In [25]:
# ANSWER:
myquery = {"address": {"$regex": "^S"}}
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('65114b9f2eb05666697764dc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65114b9f2eb05666697764e2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

In [26]:
mydoc = mycol.find().sort("name")
for x in mydoc:
    print(x)

{'_id': ObjectId('65114b9f2eb05666697764d7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65114b9f2eb05666697764df'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65114b9f2eb05666697764db'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65114b9f2eb05666697764e1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65114b9f2eb05666697764d8'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65114b652eb05666697764d5'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65114b9f2eb05666697764d9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65114b872eb05666697764d6'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65114b9f2eb05666697764dc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65114b9f2eb05666697764da'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65114b9f2eb05666697764dd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65114b9f2eb05666697764de'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65114b9f2eb05666697764e2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65114b9f2eb05666697764e0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

In [27]:
help(mycol.find().sort)

Help on method sort in module pymongo.cursor:

sort(key_or_list: '_Hint', direction: 'Optional[Union[int, str]]' = None) -> "'Cursor[_DocumentType]'" method of pymongo.cursor.Cursor instance
    Sorts this cursor's results.

    Pass a field name and a direction, either
    :data:`~pymongo.ASCENDING` or :data:`~pymongo.DESCENDING`.::

        for doc in collection.find().sort('field', pymongo.ASCENDING):
            print(doc)

    To sort by multiple fields, pass a list of (key, direction) pairs.
    If just a name is given, :data:`~pymongo.ASCENDING` will be inferred::

        for doc in collection.find().sort([
                'field1',
                ('field2', pymongo.DESCENDING)]):
            print(doc)

    Text search results can be sorted by relevance::

        cursor = db.test.find(
            {'$text': {'$search': 'some words'}},
            {'score': {'$meta': 'textScore'}})

        # Sort by 'score' field.
        cursor.sort([('score', {'$meta': 'textScore'})])

        for doc in cursor:
            print(doc)

    For more advanced text search functionality, see MongoDB's
    `Atlas Search <https://docs.atlas.mongodb.com/atlas-search/>`_.

    Raises :class:`~pymongo.errors.InvalidOperation` if this cursor has
    already been used. Only the last :meth:`sort` applied to this
    cursor has any effect.

    :Parameters:
      - `key_or_list`: a single key or a list of (key, direction)
        pairs specifying the keys to sort on
      - `direction` (optional): only used if `key_or_list` is a single
        key, if not given :data:`~pymongo.ASCENDING` is assumed

In [28]:
# ANSWER:
mydoc = mycol.find().sort("name", pymongo.DESCENDING)
for x in mydoc:
    print(x)

{'_id': ObjectId('65114b9f2eb05666697764e0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65114b9f2eb05666697764e2'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65114b9f2eb05666697764de'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65114b9f2eb05666697764dd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65114b9f2eb05666697764da'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65114b9f2eb05666697764dc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65114b872eb05666697764d6'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65114b9f2eb05666697764d9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65114b652eb05666697764d5'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65114b9f2eb05666697764d8'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65114b9f2eb05666697764e1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65114b9f2eb05666697764db'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65114b9f2eb05666697764df'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65114b9f2eb05666697764d7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

A single record can be deleted by specifying some criterion:

In [29]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

In [30]:
# ANSWER
mycol.delete_many({"_id": {"$lt": 15}})
for x in mycol.find():
    print(x)

{'_id': ObjectId('65114b652eb05666697764d5'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65114b872eb05666697764d6'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65114b9f2eb05666697764d7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65114b9f2eb05666697764d9'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65114b9f2eb05666697764da'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65114b9f2eb05666697764db'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65114b9f2eb05666697764dc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65114b9f2eb05666697764dd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65114b9f2eb05666697764de'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65114b9f2eb05666697764df'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65114b9f2eb05666697764e0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65114b9f2eb05666697764e1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65114b9f2eb05666697764e2'), 'name': 'Viola', 'address': 'Sideway 1633'}

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [31]:
# ANSWER:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)
for x in mycol.find():
  print(x)

{'_id': ObjectId('65114b652eb05666697764d5'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65114b872eb05666697764d6'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65114b9f2eb05666697764d7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65114b9f2eb05666697764d9'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('65114b9f2eb05666697764da'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65114b9f2eb05666697764db'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65114b9f2eb05666697764dc'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65114b9f2eb05666697764dd'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65114b9f2eb05666697764de'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65114b9f2eb05666697764df'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65114b9f2eb05666697764e0'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65114b9f2eb05666697764e1'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65114b9f2eb05666697764e2'), 'name': 'Viola', 'address': 'Sideway 1633'}

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [32]:
# ANSWER:
myresult = mycol.find().limit(5)
for x in myresult:
    print(x)

{'_id': ObjectId('65114b652eb05666697764d5'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65114b872eb05666697764d6'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65114b9f2eb05666697764d7'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65114b9f2eb05666697764d9'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('65114b9f2eb05666697764da'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [33]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import pandas as pd
import numpy as np

The following code creates a database named "test" and populates it from a JSON file using the mongoimport program.

Firstly execute the following in a command prompt (or terminal window) after changing the path to point to your `dummyData.json` file in your machine. If your path environment variables are not set up, this can work by navigating first to the bin folder within MongoDB/Tools.

`mongoimport --db test --collection people --drop --file /PATH/dummyData.json`

`mongoimport -d test -c people --file /PATH/dummyData.json`

In [34]:
client = MongoClient('localhost', 27017) #connects to your local mongoDB

In [35]:
db = client.test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

{'_id': ObjectId('65114ef5443fb85a1034ffc5'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('65114ec9bab9d4269da28beb'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('65114ef5443fb85a1034ff75'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [36]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

                                      AvgAge  Count
_id
China                              46.250000      8
Antarctica                         46.333333      6
Guernsey                           48.333333      6
Puerto Rico                        26.500000      4
Heard Island and Mcdonald Islands  29.000000      4

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [37]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,65114ec9bab9d4269da28ba4,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,65114ec9bab9d4269da28be5,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,65114ec9bab9d4269da28bf7,"Mayer, Violet U.",53,China,"40, 95"
3,65114ec9bab9d4269da28bfe,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
4,65114ef5443fb85a1034ff7d,"Holman, Hasad O.",32,China,"39.9127, 116.3833"

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [38]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)

world_map

Folium version 0.14.0

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

In [39]:
# ANSWER:
pipeline = [
    {
        "$group": {
            "_id": "$name",
            "count": { "$sum": 1 },
            "docs": { "$push": "$_id" }
        }
    },
    {
        "$match": {
            "count": { "$gt": 1 }
        }
    },
    {
        "$unwind": "$docs"
    },
    {
        "$replaceRoot": {
            "newRoot": {
                "_id": "$docs",
                "name": "$_id"
            }
        }
    },
    {
        "$out": "your_collection_name"
    }
]

result = collection.aggregate(pipeline)
for doc in collection.find():
    print(doc)

{'_id': ObjectId('65114ec9bab9d4269da28ba3'), 'Name': 'Dominguez, Jasmine S.', 'Age': 31, 'Country': 'Comoros', 'Location': '-61.56115, -147.43152'}
{'_id': ObjectId('65114ec9bab9d4269da28ba4'), 'Name': 'Holman, Hasad O.', 'Age': 32, 'Country': 'China', 'Location': '39.9127, 116.3833'}
{'_id': ObjectId('65114ec9bab9d4269da28ba5'), 'Name': 'Dickerson, Daria Z.', 'Age': 47, 'Country': 'Montenegro', 'Location': '49.05571, 122.53302'}
{'_id': ObjectId('65114ec9bab9d4269da28ba6'), 'Name': 'Mcintyre, Caesar U.', 'Age': 40, 'Country': 'United States', 'Location': '-25.48981, 42.39013'}
{'_id': ObjectId('65114ec9bab9d4269da28ba7'), 'Name': 'Dodson, Finn B.', 'Age': 38, 'Country': 'American Samoa', 'Location': '-69.55397, 131.50998'}
{'_id': ObjectId('65114ec9bab9d4269da28ba8'), 'Name': 'Welch, Mary L.', 'Age': 45, 'Country': 'Saint Pierre and Miquelon', 'Location': '-23.13924, 99.94579'}
{'_id': ObjectId('65114ec9bab9d4269da28ba9'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('65114ec9bab9d4269da28baa'), 'Name': 'Mccall, Lara Q.', 'Age': 55, 'Country': 'Georgia', 'Location': '7.41251, 63.86113'}
{'_id': ObjectId('65114ec9bab9d4269da28bab'), 'Name': 'Harding, Yen G.', 'Age': 64, 'Country': 'Angola', 'Location': '32.79582, -101.18575'}
{'_id': ObjectId('65114ec9bab9d4269da28bac'), 'Name': 'Sanchez, Aristotle L.', 'Age': 25, 'Country': 'Mayotte', 'Location': '-74.97811, -27.77269'}
{'_id': ObjectId('65114ec9bab9d4269da28bad'), 'Name': 'Valenzuela, Wesley E.', 'Age': 47, 'Country': 'Nepal', 'Location': '40.43004, -31.63421'}
{'_id': ObjectId('65114ec9bab9d4269da28bae'), 'Name': 'Quinn, Alfonso Y.', 'Age': 61, 'Country': 'Northern Mariana Islands', 'Location': '-20.77447, -11.73429'}
{'_id': ObjectId('65114ec9bab9d4269da28baf'), 'Name': 'Potts, Destiny J.', 'Age': 24, 'Country': 'Nicaragua', 'Location': '-54.60926, 126.32675'}
{'_id': ObjectId('65114ec9bab9d4269da28bb0'), 'Name': 'French, Dawn W.', 'Age': 40, 'Country': 'Bolivia', 'Location': '66.99559, 172.58916'}
{'_id': ObjectId('65114ec9bab9d4269da28bb1'), 'Name': 'Morgan, Tucker S.', 'Age': 41, 'Country': 'Grenada', 'Location': '29.92717, 169.26014'}
{'_id': ObjectId('65114ec9bab9d4269da28bb2'), 'Name': 'Cameron, Carla K.', 'Age': 61, 'Country': 'Myanmar', 'Location': '50.35508, 13.57343'}
{'_id': ObjectId('65114ec9bab9d4269da28bb3'), 'Name': 'Barry, Nayda R.', 'Age': 39, 'Country': 'Anguilla', 'Location': '-18.52518, -118.67157'}
{'_id': ObjectId('65114ec9bab9d4269da28bb4'), 'Name': 'Chavez, Garrett H.', 'Age': 33, 'Country': 'Heard Island and Mcdonald Islands', 'Location': '-40.34056, -56.24268'}
{'_id': ObjectId('65114ec9bab9d4269da28bb5'), 'Name': 'Miller, Medge O.', 'Age': 59, 'Country': 'United Kingdom (Great Britain)', 'Location': '20.26129, -75.64274'}
{'_id': ObjectId('65114ec9bab9d4269da28bb6'), 'Name': 'Baldwin, Liberty Y.', 'Age': 48, 'Country': 'Dominica', 'Location': '25.52303, -169.50365'}
{'_id': ObjectId('65114ec9bab9d4269da28bb7'), 'Name': 'Perkins, Griffin W.', 'Age': 48, 'Country': 'South Africa', 'Location': '-74.6125, 2.34217'}
{'_id': ObjectId('65114ec9bab9d4269da28bb8'), 'Name': 'Alston, Charde I.', 'Age': 56, 'Country': 'Ukraine', 'Location': '-38.53191, -50.23885'}
{'_id': ObjectId('65114ec9bab9d4269da28bb9'), 'Name': 'Marquez, August A.', 'Age': 57, 'Country': 'United Kingdom (Great Britain)', 'Location': '61.94015, -170.70676'}
{'_id': ObjectId('65114ec9bab9d4269da28bba'), 'Name': 'Alvarado, Nero N.', 'Age': 61, 'Country': 'French Guiana', 'Location': '-10.25168, 147.0262'}
{'_id': ObjectId('65114ec9bab9d4269da28bbb'), 'Name': 'Briggs, Amanda N.', 'Age': 35, 'Country': 'Saint Lucia', 'Location': '54.85017, -140.89639'}
{'_id': ObjectId('65114ec9bab9d4269da28bbc'), 'Name': 'Lee, Jack Y.', 'Age': 47, 'Country': 'Norfolk Island', 'Location': '-89.30874, 77.57111'}
{'_id': ObjectId('65114ec9bab9d4269da28bbd'), 'Name': 'Hendricks, Cailin U.', 'Age': 25, 'Country': 'Heard Island and Mcdonald Islands', 'Location': '-72.81203, 59.59854'}
{'_id': ObjectId('65114ec9bab9d4269da28bbe'), 'Name': 'Sutton, Blair P.', 'Age': 62, 'Country': 'Palestine, State of', 'Location': '-79.8451, -85.93264'}
{'_id': ObjectId('65114ec9bab9d4269da28bbf'), 'Name': 'Marshall, David J.', 'Age': 43, 'Country': 'Greenland', 'Location': '-14.99002, -48.26145'}
{'_id': ObjectId('65114ec9bab9d4269da28bc0'), 'Name': 'Howell, Ivana G.', 'Age': 42, 'Country': 'Saudi Arabia', 'Location': '-78.23589, -110.37693'}
{'_id': ObjectId('65114ec9bab9d4269da28bc1'), 'Name': 'Salas, Steel U.', 'Age': 59, 'Country': 'Andorra', 'Location': '65.32695, 161.88391'}
{'_id': ObjectId('65114ec9bab9d4269da28bc2'), 'Name': 'Parks, Joseph C.', 'Age': 56, 'Country': 'Vanuatu', 'Location': '-16.65215, -122.14829'}
{'_id': ObjectId('65114ec9bab9d4269da28bc3'), 'Name': 'Browning, Reuben G.', 'Age': 61, 'Country': 'Guernsey', 'Location': '36.47289, -6.11841'}
{'_id': ObjectId('65114ec9bab9d4269da28bc4'), 'Name': 'Ortiz, Cameran B.', 'Age': 49, 'Country': 'Mauritania', 'Location': '21.11098, -17.08853'}
{'_id': ObjectId('65114ec9bab9d4269da28bc5'), 'Name': 'Preston, Dane W.', 'Age': 40, 'Country': 'American Samoa', 'Location': '-52.44523, -12.36693'}
{'_id': ObjectId('65114ec9bab9d4269da28bc6'), 'Name': 'Brooks, Mariko D.', 'Age': 33, 'Country': 'Turks and Caicos Islands', 'Location': '-52.93344, -28.41707'}
{'_id': ObjectId('65114ec9bab9d4269da28bc7'), 'Name': 'Webster, Ray E.', 'Age': 52, 'Country': 'Chile', 'Location': '-20.20973, 154.85885'}
{'_id': ObjectId('65114ec9bab9d4269da28bc8'), 'Name': 'Roberts, Cara B.', 'Age': 52, 'Country': 'Thailand', 'Location': '61.9608, 161.14669'}
{'_id': ObjectId('65114ec9bab9d4269da28bc9'), 'Name': 'Jackson, Jayme U.', 'Age': 33, 'Country': 'Tonga', 'Location': '-81.82718, 20.9984'}
{'_id': ObjectId('65114ec9bab9d4269da28bca'), 'Name': 'Douglas, Irene I.', 'Age': 49, 'Country': 'Tajikistan', 'Location': '-21.11626, -43.1353'}
{'_id': ObjectId('65114ec9bab9d4269da28bcb'), 'Name': 'Pratt, Noelani P.', 'Age': 63, 'Country': 'Reunion', 'Location': '80.65682, 162.5187'}
{'_id': ObjectId('65114ec9bab9d4269da28bcc'), 'Name': 'Bridges, Tamekah D.', 'Age': 35, 'Country': 'Christmas Island', 'Location': '15.08403, -9.44741'}
{'_id': ObjectId('65114ec9bab9d4269da28bcd'), 'Name': 'Cardenas, Jared I.', 'Age': 45, 'Country': 'Reunion', 'Location': '6.88105, 171.22864'}
{'_id': ObjectId('65114ec9bab9d4269da28bce'), 'Name': 'Poole, Maia S.', 'Age': 29, 'Country': 'land Islands', 'Location': '-45.20296, 46.68062'}
{'_id': ObjectId('65114ec9bab9d4269da28bcf'), 'Name': 'Davenport, Nadine V.', 'Age': 38, 'Country': 'Peru', 'Location': '-41.73735, 57.46765'}
{'_id': ObjectId('65114ec9bab9d4269da28bd0'), 'Name': 'Martin, Harper D.', 'Age': 27, 'Country': 'British Indian Ocean Territory', 'Location': '-52.04695, -105.33625'}
{'_id': ObjectId('65114ec9bab9d4269da28bd1'), 'Name': 'Mendoza, Kirk S.', 'Age': 25, 'Country': 'Cook Islands', 'Location': '76.41526, 69.14896'}
{'_id': ObjectId('65114ec9bab9d4269da28bd2'), 'Name': 'Cherry, Chantale L.', 'Age': 45, 'Country': 'Jersey', 'Location': '11.67317, 50.4145'}
{'_id': ObjectId('65114ec9bab9d4269da28bd3'), 'Name': 'Phelps, Sawyer Q.', 'Age': 51, 'Country': 'Zambia', 'Location': '82.43626, 62.09828'}
{'_id': ObjectId('65114ec9bab9d4269da28bd4'), 'Name': 'Olsen, Sophia K.', 'Age': 22, 'Country': 'United Arab Emirates', 'Location': '2.97813, 88.7177'}
{'_id': ObjectId('65114ec9bab9d4269da28bd5'), 'Name': 'Edwards, Myra J.', 'Age': 31, 'Country': 'Jamaica', 'Location': '57.13947, 170.0602'}
{'_id': ObjectId('65114ec9bab9d4269da28bd6'), 'Name': 'Shepherd, Kylie X.', 'Age': 42, 'Country': 'Nepal', 'Location': '78.82173, -125.25611'}
{'_id': ObjectId('65114ec9bab9d4269da28bd7'), 'Name': 'Sharpe, Abraham M.', 'Age': 21, 'Country': 'Antarctica', 'Location': '-78.40244, -162.765'}
{'_id': ObjectId('65114ec9bab9d4269da28bd8'), 'Name': 'Graham, Emerald O.', 'Age': 20, 'Country': 'Eritrea', 'Location': '61.35398, 28.04381'}
{'_id': ObjectId('65114ec9bab9d4269da28bd9'), 'Name': 'Fuller, Christen R.', 'Age': 23, 'Country': 'Namibia', 'Location': '-64.89213, -7.46627'}
{'_id': ObjectId('65114ec9bab9d4269da28bda'), 'Name': 'Lewis, Glenna Y.', 'Age': 56, 'Country': 'Antarctica', 'Location': '-49.43501, -162.02286'}
{'_id': ObjectId('65114ec9bab9d4269da28bdb'), 'Name': 'Sims, Leigh D.', 'Age': 26, 'Country': 'Cambodia', 'Location': '-39.76351, 102.29045'}
{'_id': ObjectId('65114ec9bab9d4269da28bdc'), 'Name': 'Ratliff, Avram D.', 'Age': 38, 'Country': 'Sweden', 'Location': '60.87227, -74.71222'}
{'_id': ObjectId('65114ec9bab9d4269da28bdd'), 'Name': 'Franco, Norman E.', 'Age': 30, 'Country': 'Puerto Rico', 'Location': '-67.90256, -58.98164'}
{'_id': ObjectId('65114ec9bab9d4269da28bde'), 'Name': 'Frost, Willa N.', 'Age': 41, 'Country': 'Lebanon', 'Location': '39.20651, -36.38229'}
{'_id': ObjectId('65114ec9bab9d4269da28bdf'), 'Name': 'French, Dante H.', 'Age': 32, 'Country': 'Niue', 'Location': '-80.04334, 157.45408'}
{'_id': ObjectId('65114ec9bab9d4269da28be0'), 'Name': 'Bates, Sopoline R.', 'Age': 58, 'Country': 'Mauritania', 'Location': '80.94557, 97.05546'}
{'_id': ObjectId('65114ec9bab9d4269da28be1'), 'Name': 'Huffman, Nita U.', 'Age': 35, 'Country': 'Solomon Islands', 'Location': '-40.35596, 145.85145'}
{'_id': ObjectId('65114ec9bab9d4269da28be2'), 'Name': 'Arnold, Emily R.', 'Age': 61, 'Country': 'Djibouti', 'Location': '-60.36244, 91.55568'}
{'_id': ObjectId('65114ec9bab9d4269da28be3'), 'Name': 'Summers, May Y.', 'Age': 55, 'Country': 'Guernsey', 'Location': '8.82984, -48.87366'}
{'_id': ObjectId('65114ec9bab9d4269da28be4'), 'Name': 'Jenkins, Octavia P.', 'Age': 29, 'Country': 'Guernsey', 'Location': '45.4198, -164.16024'}
{'_id': ObjectId('65114ec9bab9d4269da28be5'), 'Name': 'Byrd, Dante A.', 'Age': 43, 'Country': 'China', 'Location': '31.2, 121.5'}
{'_id': ObjectId('65114ec9bab9d4269da28be6'), 'Name': 'Ward, Noah B.', 'Age': 38, 'Country': 'Gabon', 'Location': '-45.62401, 4.84001'}
{'_id': ObjectId('65114ec9bab9d4269da28be7'), 'Name': 'Bridges, Shaine N.', 'Age': 45, 'Country': 'Virgin Islands, United States', 'Location': '56.939, 99.85412'}
{'_id': ObjectId('65114ec9bab9d4269da28be8'), 'Name': 'Sykes, Iliana Q.', 'Age': 62, 'Country': 'Antarctica', 'Location': '7.15292, -165.30781'}
{'_id': ObjectId('65114ec9bab9d4269da28be9'), 'Name': 'Frost, Declan A.', 'Age': 52, 'Country': 'Peru', 'Location': '11.59492, 75.31999'}
{'_id': ObjectId('65114ec9bab9d4269da28bea'), 'Name': 'Franco, Bo F.', 'Age': 26, 'Country': 'Russian Federation', 'Location': '84.1134, -13.34213'}
{'_id': ObjectId('65114ec9bab9d4269da28beb'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('65114ec9bab9d4269da28bec'), 'Name': 'West, Hyatt K.', 'Age': 31, 'Country': 'Saint Martin', 'Location': '37.53127, 90.91201'}
{'_id': ObjectId('65114ec9bab9d4269da28bed'), 'Name': 'Sampson, Karen T.', 'Age': 48, 'Country': 'Macao', 'Location': '86.61408, 46.48167'}
{'_id': ObjectId('65114ec9bab9d4269da28bee'), 'Name': 'Haney, Cairo Y.', 'Age': 57, 'Country': 'Rwanda', 'Location': '-47.68307, -64.96486'}
{'_id': ObjectId('65114ec9bab9d4269da28bef'), 'Name': 'Potts, Shafira L.', 'Age': 34, 'Country': 'Swaziland', 'Location': '-57.61332, 132.96449'}
{'_id': ObjectId('65114ec9bab9d4269da28bf0'), 'Name': 'Morse, Suki D.', 'Age': 37, 'Country': 'Christmas Island', 'Location': '-72.49242, 106.16669'}
{'_id': ObjectId('65114ec9bab9d4269da28bf1'), 'Name': 'Caldwell, Breanna N.', 'Age': 51, 'Country': 'Mauritius', 'Location': '-57.36485, -103.06976'}
{'_id': ObjectId('65114ec9bab9d4269da28bf2'), 'Name': 'Guerrero, Slade T.', 'Age': 58, 'Country': 'Martinique', 'Location': '51.07221, -124.40854'}
{'_id': ObjectId('65114ec9bab9d4269da28bf3'), 'Name': 'Pacheco, Tucker P.', 'Age': 62, 'Country': 'Paraguay', 'Location': '-66.53304, 52.94481'}
{'_id': ObjectId('65114ec9bab9d4269da28bf4'), 'Name': 'Justice, Preston B.', 'Age': 54, 'Country': "Cte D'Ivoire (Ivory Coast)", 'Location': '-44.24176, 13.24102'}
{'_id': ObjectId('65114ec9bab9d4269da28bf5'), 'Name': 'Zimmerman, Reuben H.', 'Age': 23, 'Country': 'Puerto Rico', 'Location': '46.28774, 73.9033'}
{'_id': ObjectId('65114ec9bab9d4269da28bf6'), 'Name': 'Hodges, Gloria N.', 'Age': 50, 'Country': 'Saint Helena, Ascension and Tristan da Cunha', 'Location': '18.49617, -50.64409'}
{'_id': ObjectId('65114ec9bab9d4269da28bf7'), 'Name': 'Mayer, Violet U.', 'Age': 53, 'Country': 'China', 'Location': '40, 95'}
{'_id': ObjectId('65114ec9bab9d4269da28bf8'), 'Name': 'Melendez, Jescie P.', 'Age': 53, 'Country': 'Malawi', 'Location': '15.08477, 29.7772'}
{'_id': ObjectId('65114ec9bab9d4269da28bf9'), 'Name': 'Shepard, Peter R.', 'Age': 20, 'Country': 'Saint Helena, Ascension and Tristan da Cunha', 'Location': '28.90219, 66.86083'}
{'_id': ObjectId('65114ec9bab9d4269da28bfa'), 'Name': 'Slater, Liberty K.', 'Age': 48, 'Country': 'France', 'Location': '31.73899, -118.60297'}
{'_id': ObjectId('65114ec9bab9d4269da28bfb'), 'Name': 'Guthrie, Tanner Y.', 'Age': 21, 'Country': 'Zimbabwe', 'Location': '32.67009, -51.93957'}
{'_id': ObjectId('65114ec9bab9d4269da28bfc'), 'Name': 'Maynard, Reuben B.', 'Age': 50, 'Country': 'Mozambique', 'Location': '79.49016, 17.75474'}
{'_id': ObjectId('65114ec9bab9d4269da28bfd'), 'Name': 'Watkins, Ocean R.', 'Age': 53, 'Country': 'Senegal', 'Location': '30.52744, 54.66705'}
{'_id': ObjectId('65114ec9bab9d4269da28bfe'), 'Name': 'Carney, Tamekah I.', 'Age': 57, 'Country': 'China', 'Location': '45.75, 126.6333'}
{'_id': ObjectId('65114ec9bab9d4269da28bff'), 'Name': 'Riddle, Dieter Q.', 'Age': 27, 'Country': 'Tajikistan', 'Location': '-27.50754, 4.7995'}
{'_id': ObjectId('65114ec9bab9d4269da28c00'), 'Name': 'Lopez, Eleanor Y.', 'Age': 57, 'Country': 'Guatemala', 'Location': '3.06585, 76.36247'}
{'_id': ObjectId('65114ec9bab9d4269da28c01'), 'Name': 'Blake, Austin L.', 'Age': 38, 'Country': 'India', 'Location': '-17.85167, -131.55761'}
{'_id': ObjectId('65114ec9bab9d4269da28c02'), 'Name': 'Pope, Lana U.', 'Age': 63, 'Country': 'Bangladesh', 'Location': '-72.36226, -77.38894'}
{'_id': ObjectId('65114ec9bab9d4269da28c03'), 'Name': 'Henderson, Peter D.', 'Age': 35, 'Country': 'Cuba', 'Location': '-44.30206, 43.71482'}
{'_id': ObjectId('65114ec9bab9d4269da28c04'), 'Name': 'Preston, Chantale S.', 'Age': 58, 'Country': 'Samoa', 'Location': '-42.00754, 40.29557'}
{'_id': ObjectId('65114ec9bab9d4269da28c05'), 'Name': 'Horton, Cairo A.', 'Age': 29, 'Country': 'Estonia', 'Location': '-35.88718, 103.03128'}
{'_id': ObjectId('65114ec9bab9d4269da28c06'), 'Name': 'Warren, Nathaniel H.', 'Age': 44, 'Country': 'Slovakia', 'Location': '-88.03201, 172.7146'}
{'_id': ObjectId('65114ef5443fb85a1034ff6f'), 'Name': 'Morgan, Tucker S.', 'Age': 41, 'Country': 'Grenada', 'Location': '29.92717, 169.26014'}
{'_id': ObjectId('65114ef5443fb85a1034ff70'), 'Name': 'Potts, Destiny J.', 'Age': 24, 'Country': 'Nicaragua', 'Location': '-54.60926, 126.32675'}
{'_id': ObjectId('65114ef5443fb85a1034ff71'), 'Name': 'Dickerson, Daria Z.', 'Age': 47, 'Country': 'Montenegro', 'Location': '49.05571, 122.53302'}
{'_id': ObjectId('65114ef5443fb85a1034ff72'), 'Name': 'Quinn, Alfonso Y.', 'Age': 61, 'Country': 'Northern Mariana Islands', 'Location': '-20.77447, -11.73429'}
{'_id': ObjectId('65114ef5443fb85a1034ff73'), 'Name': 'Dodson, Finn B.', 'Age': 38, 'Country': 'American Samoa', 'Location': '-69.55397, 131.50998'}
{'_id': ObjectId('65114ef5443fb85a1034ff74'), 'Name': 'Welch, Mary L.', 'Age': 45, 'Country': 'Saint Pierre and Miquelon', 'Location': '-23.13924, 99.94579'}
{'_id': ObjectId('65114ef5443fb85a1034ff75'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('65114ef5443fb85a1034ff76'), 'Name': 'Mccall, Lara Q.', 'Age': 55, 'Country': 'Georgia', 'Location': '7.41251, 63.86113'}
{'_id': ObjectId('65114ef5443fb85a1034ff77'), 'Name': 'Harding, Yen G.', 'Age': 64, 'Country': 'Angola', 'Location': '32.79582, -101.18575'}
{'_id': ObjectId('65114ef5443fb85a1034ff78'), 'Name': 'Sanchez, Aristotle L.', 'Age': 25, 'Country': 'Mayotte', 'Location': '-74.97811, -27.77269'}
{'_id': ObjectId('65114ef5443fb85a1034ff79'), 'Name': 'French, Dawn W.', 'Age': 40, 'Country': 'Bolivia', 'Location': '66.99559, 172.58916'}
{'_id': ObjectId('65114ef5443fb85a1034ff7a'), 'Name': 'Mcintyre, Caesar U.', 'Age': 40, 'Country': 'United States', 'Location': '-25.48981, 42.39013'}
{'_id': ObjectId('65114ef5443fb85a1034ff7b'), 'Name': 'Valenzuela, Wesley E.', 'Age': 47, 'Country': 'Nepal', 'Location': '40.43004, -31.63421'}
{'_id': ObjectId('65114ef5443fb85a1034ff7c'), 'Name': 'Barry, Nayda R.', 'Age': 39, 'Country': 'Anguilla', 'Location': '-18.52518, -118.67157'}
{'_id': ObjectId('65114ef5443fb85a1034ff7d'), 'Name': 'Holman, Hasad O.', 'Age': 32, 'Country': 'China', 'Location': '39.9127, 116.3833'}
{'_id': ObjectId('65114ef5443fb85a1034ff7e'), 'Name': 'Dominguez, Jasmine S.', 'Age': 31, 'Country': 'Comoros', 'Location': '-61.56115, -147.43152'}
{'_id': ObjectId('65114ef5443fb85a1034ff7f'), 'Name': 'Cameron, Carla K.', 'Age': 61, 'Country': 'Myanmar', 'Location': '50.35508, 13.57343'}
{'_id': ObjectId('65114ef5443fb85a1034ff80'), 'Name': 'Parks, Joseph C.', 'Age': 56, 'Country': 'Vanuatu', 'Location': '-16.65215, -122.14829'}
{'_id': ObjectId('65114ef5443fb85a1034ff81'), 'Name': 'Browning, Reuben G.', 'Age': 61, 'Country': 'Guernsey', 'Location': '36.47289, -6.11841'}
{'_id': ObjectId('65114ef5443fb85a1034ff82'), 'Name': 'Chavez, Garrett H.', 'Age': 33, 'Country': 'Heard Island and Mcdonald Islands', 'Location': '-40.34056, -56.24268'}
{'_id': ObjectId('65114ef5443fb85a1034ff83'), 'Name': 'Martin, Harper D.', 'Age': 27, 'Country': 'British Indian Ocean Territory', 'Location': '-52.04695, -105.33625'}
{'_id': ObjectId('65114ef5443fb85a1034ff84'), 'Name': 'Miller, Medge O.', 'Age': 59, 'Country': 'United Kingdom (Great Britain)', 'Location': '20.26129, -75.64274'}
{'_id': ObjectId('65114ef5443fb85a1034ff85'), 'Name': 'Pratt, Noelani P.', 'Age': 63, 'Country': 'Reunion', 'Location': '80.65682, 162.5187'}
{'_id': ObjectId('65114ef5443fb85a1034ff86'), 'Name': 'Poole, Maia S.', 'Age': 29, 'Country': 'land Islands', 'Location': '-45.20296, 46.68062'}
{'_id': ObjectId('65114ef5443fb85a1034ff87'), 'Name': 'Briggs, Amanda N.', 'Age': 35, 'Country': 'Saint Lucia', 'Location': '54.85017, -140.89639'}
{'_id': ObjectId('65114ef5443fb85a1034ff88'), 'Name': 'Hendricks, Cailin U.', 'Age': 25, 'Country': 'Heard Island and Mcdonald Islands', 'Location': '-72.81203, 59.59854'}
{'_id': ObjectId('65114ef5443fb85a1034ff89'), 'Name': 'Lee, Jack Y.', 'Age': 47, 'Country': 'Norfolk Island', 'Location': '-89.30874, 77.57111'}
{'_id': ObjectId('65114ef5443fb85a1034ff8a'), 'Name': 'Sutton, Blair P.', 'Age': 62, 'Country': 'Palestine, State of', 'Location': '-79.8451, -85.93264'}
{'_id': ObjectId('65114ef5443fb85a1034ff8b'), 'Name': 'Howell, Ivana G.', 'Age': 42, 'Country': 'Saudi Arabia', 'Location': '-78.23589, -110.37693'}
{'_id': ObjectId('65114ef5443fb85a1034ff8c'), 'Name': 'Marshall, David J.', 'Age': 43, 'Country': 'Greenland', 'Location': '-14.99002, -48.26145'}
{'_id': ObjectId('65114ef5443fb85a1034ff8d'), 'Name': 'Salas, Steel U.', 'Age': 59, 'Country': 'Andorra', 'Location': '65.32695, 161.88391'}
{'_id': ObjectId('65114ef5443fb85a1034ff8e'), 'Name': 'Alston, Charde I.', 'Age': 56, 'Country': 'Ukraine', 'Location': '-38.53191, -50.23885'}
{'_id': ObjectId('65114ef5443fb85a1034ff8f'), 'Name': 'Baldwin, Liberty Y.', 'Age': 48, 'Country': 'Dominica', 'Location': '25.52303, -169.50365'}
{'_id': ObjectId('65114ef5443fb85a1034ff90'), 'Name': 'Alvarado, Nero N.', 'Age': 61, 'Country': 'French Guiana', 'Location': '-10.25168, 147.0262'}
{'_id': ObjectId('65114ef5443fb85a1034ff91'), 'Name': 'Ortiz, Cameran B.', 'Age': 49, 'Country': 'Mauritania', 'Location': '21.11098, -17.08853'}

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.

In [40]:
# Create a compound index on "name" and "address" fields
collection.create_index([("name", 1), ("address", 1)])


# Print the indexes for the collection
indexes = collection.list_indexes()
for index in indexes:
    print(index)

SON([('v', 2), ('key', SON([('_id', 1)])), ('name', '_id_')])
SON([('v', 2), ('key', SON([('name', 1), ('address', 1)])), ('name', 'name_1_address_1')])



---



---



> > > > > > > > >  2023 Institute of Data


---



---